* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.hamburger {
  width: 25px;
  margin-left: 500px;
  margin-top: 100px;
}
.hamburger div {
  width: 100%;
  height: 5px;
  background-color: #2b2d42;
  margin-bottom: 5px;
}
.music-listener {
  border-radius: 50%;
  margin: 20px;
}
a {
  text-decoration: none;
}
body {
  background-color: #faff00;
  /* background-image: url(images/retro-mic.jpg);
  background-repeat: no-repeat;
  background-size: contain; */
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
main h1 {
  font-size: 50px;
  color: #0c4767;
  padding-bottom: 20px;
}
.main {
  font-size: 20px;
  padding-bottom: 25px;
}
main h2 {
  font-size: 25px;
  color: #0c4767;
  padding-left: 60px;
}
main h4 {
  font-size: 20px;
  padding-left: 60px;
}
main {
  text-align: center;
  display: flexbox;
}
.container-main {
  padding-bottom: 25px;
  border-radius: 50%;
}
section {
  display: inline-flex;
  justify-content: space-between; /* text-align: center; */
}
a.first {
  font-size: 30px;
  padding-right: 30px;
}
a.second {
  font-size: 30px;
  padding-left: 60px;
}
div.bottom {
  padding-top: 25px;
  font-size: 25px;
}
div.second-bottom {
  padding-top: 25px;
  font-size: 25px;
}
.button {
  background-color: #59ffa0;
  padding: 10px 10px;
}
.btn {
  background-color: #ff9505;
  padding: 10px 10px;
  /* display: block;
  width: 150px;
  margin: 0 auto;
  padding: 10px 0; */
}
